/* 1. RESET SIZING */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 2. CSS VARIABLES */
:root {
  --primary-color: #2563eb;
  --primary-light: #eff6ff;
  --bg-main: #f8fafc;
  --card-bg: #ffffff;
  --border-color: #e2e8f0;
  --text-dark: #0f172a;
  --text-muted: #64748b;
  --radius: 12px;
}
